#pig-animation{
	width: 800px;
	height: 600px;
	margin: 30px auto 0;
	background: url(../img/bg.png);
	border-radius: 30px;
	position: relative;
	overflow: hidden;
}

#fence-far{
	position: absolute;
	top: 30px;
	left: -10px;

	-webkit-animation: fence-far 1s linear 0s infinite;
	-moz-animation: fence-far 1s linear 0s infinite;
	animation: fence-far 1s linear 0s infinite;
}

#fence-near{
	position: absolute;
	top: 185px;
	left:-10px;

	-webkit-animation: fence-near 1s linear 0s infinite;
	-moz-animation: fence-near 1s linear 0s infinite;
	animation: fence-near 1s linear 0s infinite;
}

#left-leg-rear{
	position: absolute;
	top: 360px;
	left: 240px;
}

#left-leg-front{
	position: absolute;
	top: 360px;
	left: 457px;	
}

#right-leg-rear{
	position: absolute;
	top: 382px;
	left: 203px;
}

#right-leg-front{
	position: absolute;
	top: 382px;
	left: 420px;
}

#body{
	position: absolute;
	top: 283px;
	left: 165px;
	
	-webkit-animation: body 0.25s linear 0s infinite alternate;
	-moz-animation: body 0.25s linear 0s infinite alternate;
	animation: body 0.25s linear 0s infinite alternate;
}

#ear{
	position: absolute;
	top: 240px;
	left: 467px;
}

#tail{
	position: absolute;
	top: 265px;
	left: 157px;
}

#left-leg-rear, 
#right-leg-front{
	-webkit-animation: legs1 0.5s linear 0s infinite alternate;
	-moz-animation: legs1 0.5s linear 0s infinite alternate;
	animation: legs1 0.5s linear 0s infinite alternate;
}

#left-leg-front,
#right-leg-rear{
	-webkit-animation: legs2 0.5s linear 0s infinite alternate;
	-moz-animation: legs2 0.5s linear 0s infinite alternate;
	animation: legs2 0.5s linear 0s infinite alternate;
}

#ear,
#tail{
	-webkit-animation: ear-tail 0.25s linear 0s infinite alternate;
	-moz-animation: ear-tail 0.25s linear 0s infinite alternate;
	animation: ear-tail 0.25s linear 0s infinite alternate;
}

/*---------------------------*/
		/*Animation*/
/*****************************/

@-webkit-keyframes legs1{
	from{ -webkit-transform: rotate(-10deg);}
	to{ -webkit-transform: rotate(10deg);}
}
@-moz-keyframes legs1{
	from{ -moz-transform: rotate(-10deg);}
	to{ -moz-transform: rotate(10deg);}
}
@keyframes legs1{
	from{ transform: rotate(-10deg);}
	to{ transform: rotate(10deg);}
}


@-webkit-keyframes legs2{
	from{ -webkit-transform: rotate(10deg);}
	to{ -webkit-transform: rotate(-10deg);}
}
@-moz-keyframes legs2{
	from{ -moz-transform: rotate(10deg);}
	to{ -moz-transform: rotate(-10deg);}
}
@keyframes legs2{
	from{ transform: rotate(10deg);}
	to{ transform: rotate(-10deg);}
}


@-webkit-keyframes body{
	from{ -webkit-transform: translateY(0px);}
	to{ -webkit-transform: translateY(10px);}
}
@-moz-keyframes body{
	from{ -moz-transform: translateY(0px);}
	to{ -moz-transform: translateY(10px);}
}
@keyframes body{
	from{ transform: translateY(0px);}
	to{ transform: translateY(10px);}
}


@-webkit-keyframes ear-tail{
	from{ -webkit-transform: translateY(0px) rotate(-5deg);}
	to{ -webkit-transform: translateY(10px) rotate(5deg);}
}
@-moz-keyframes ear-tail{
	from{ -moz-transform: translateY(0px) rotate(-5deg);}
	to{ -moz-transform: translateY(10px) rotate(5deg);}
}
@keyframes ear-tail{
	from{ transform: translateY(0px) rotate(-5deg);}
	to{ transform: translateY(10px) rotate(5deg);}
}

@-webkit-keyframes fence-far{
	from{ -webkit-transform: translateX(-10px);}
	to{ -webkit-transform: translateX(-115px);}
}
@-moz-keyframes fence-far{
	from{ -moz-transform: translateX(-10px);}
	to{ -moz-transform: translateX(-115px);}
}
@keyframes fence-far{
	from{ transform: translateX(-10px);}
	to{ transform: translateX(-115px);}
}

@-webkit-keyframes fence-near{
	from{ -webkit-transform: translateX(-10px);}
	to{ -webkit-transform: translateX(-290px);}
}
@-moz-keyframes fence-near{
	from{ -moz-transform: translateX(-10px);}
	to{ -moz-transform: translateX(-290px);}
}
@keyframes fence-near{
	from{ transform: translateX(-10px);}
	to{ transform: translateX(-290px);}
}